@import "tailwindcss";
@import "tw-animate-css";

:root {
	--hu-font-geist: var(--font-geist);
	--hu-font-jetbrains: var(--font-jetbrains-mono);
	--radius: 0.8rem;
	--card-radius: 1rem;
	--hu-background: 0, 0%, 100%;
	--hu-foreground: 0, 0%, 14%;
	--hu-card: 0, 0%, 99%;
	--hu-card-foreground: 0, 0%, 14%;
	--hu-primary: 235, 100%, 60%;
	--hu-primary-foreground: 0, 0%, 98%;
	--hu-secondary: 0, 0%, 97%;
	--hu-secondary-foreground: 0, 0%, 20%;
	--hu-muted: 0, 0%, 97%;
	--hu-muted-foreground: 0, 0%, 56%;
	--hu-accent: 0, 0%, 96%;
	--hu-accent-foreground: 0, 0%, 20%;
	--hu-destructive: 9, 96%, 47%;
	--hu-destructive-foreground: 0, 0%, 98%;
	--hu-border: 0, 0%, 92%;
	--hu-input: 0, 0%, 100%;
	--hu-ring: 0, 0%, 71%;
	--color-fd-background: hsl(var(--hu-background));
	--color-fd-card: hsl(var(--hu-card));
}

.dark {
	--hu-background: 240, 10%, 4%;
	--hu-foreground: 0, 0%, 98%;
	--hu-card: 240, 6%, 12%;
	--hu-card-foreground: 0, 0%, 98%;
	--hu-primary: 235, 100%, 60%;
	--hu-primary-foreground: 0, 0%, 98%;
	--hu-secondary: 240, 5%, 18%;
	--hu-secondary-foreground: 0, 0%, 98%;
	--hu-muted: 240, 5%, 18%;
	--hu-muted-foreground: 240, 5%, 65%;
	--hu-accent: 240, 5%, 18%;
	--hu-accent-foreground: 0, 0%, 98%;
	--hu-destructive: 0, 84%, 50%;
	--hu-destructive-foreground: 0, 0%, 98%;
	--hu-border: 240, 5%, 24%;
	--hu-input: 240, 5%, 24%;
	--hu-ring: 0, 0%, 56%;
	--color-fd-background: hsl(var(--hu-background));
	--color-fd-card: hsl(var(--hu-card));
}
